/* header */
header{
    width: 1440px;
    margin: 0 auto;
    background-color: #2A9D8F;
    padding: 38px 130px;
}
.header_logo{
    display: inline-block;
    vertical-align: middle;
    margin-right: 800px;
}
.header_nav{
    display: inline-block;
    vertical-align: middle;
}
.header_li{
    display: inline-block;
}
.header_li_link{
    font-family: 'Nerko One', cursive;
    color:#FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.005em;
}
.middle{
    margin-inline: 51px;
}

/* article */

.article1{
    width: 780px;
    margin: 200px auto;
}
.first_title{
    font-family: 'Poppins', sans-serif;
    color: #4D4D4D;
    font-size: 48px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0.005em;
    text-align: center;
    margin-bottom: 60px;
}
.p1{
    font-family: 'Nerko One', cursive;
    color: #656565;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.005em;
    text-align: justify;
}
.top{
    margin-bottom: 52px;
}

/* section1 */

.section1{
    width: 1440px;
    margin: 0 auto;
    background-color: #C2F3EE;
    padding: 80px 130px;
}
.image1{
    width: 600px;
    height: 560px;
    vertical-align: middle;
    margin-right: 110px;
}
.article2{
    width: 460px;
    height: 538px;
    display: inline-block;
    vertical-align: middle;
}
.second_title{
    font-family: 'Poppins', sans-serif;
    color: #272727;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.005em;
    margin-bottom: 27px;
}
.p2{
    font-family: 'Poppins', sans-serif;
    color: #515151;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.005em;
    margin-bottom: 45px;
}
button{
    border: none;
    background-color: #2A9D8F;
    color: #FFFFFF;
    padding: 11px 16px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}

/* section2 */

.section2{
    width: 1180px;
    margin: 200px auto;
}
.third_title{
    font-family: 'Poppins', sans-serif;
    color: #4D4D4D;
    font-size: 48px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0.005em;
    text-align: center;
    margin-bottom: 54px;
}
.article3{
    display: inline-block;
}
.left{
    margin-right: 15px;
}
.image2{
    margin-bottom: 32px;
}
.p3{
    font-family: 'Poppins', sans-serif;
    color: #535353;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.005em;
}

/* footer */

footer{
    width: 1440px;
    margin: 0 auto;
    background-color: #2A9D8F;
    padding: 90px 130px;
}
.footer_logo{
    display: inline-block;
    vertical-align: middle;
    margin-right: 930px;
}
.footer_nav{
    display: inline-block;
    vertical-align: middle;
}
.footer_title{
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    margin-bottom: 21px;
}
.footer_li_link{
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
}
.middle_li{
    margin-top: 8px;
    margin-bottom: 8px;
}