/* header */
header{
    width: 1440px;
    margin: 0 auto;
    background-color: #2A9D8F;
    padding: 38px 130px;
}
.header_logo{
    display: inline-block;
    vertical-align: middle;
    margin-right: 849px;
}
.header_nav{
    display: inline-block;
    vertical-align: middle;
}
.header_li{
    display: inline-block;
}
.header_li_link{
    font-family: 'Nerko One', cursive;
    color:#FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.005em;
}
.middle{
    margin-inline: 51px;
}

/* article */

.article1{
    width: 780px;
    margin: 200px auto;
}
.first_title{
    font-family: 'Poppins', sans-serif;
    color: #4D4D4D;
    font-size: 48px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0.005em;
    text-align: center;
    margin-bottom: 60px;
}
.p1{
    font-family: 'Nerko One', cursive;
    color: #656565;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.005em;
    text-align: justify;
}
.top{
    margin-bottom: 52px;
}

/* section1 */

.section1{
    width: 1440px;
    margin: 0 auto;
    background-color: #C2F3EE;
}
.image1{
    padding: 80px 130px;
    vertical-align: middle;
}
.article2{
    width: 460px;
    height: 538px;
    display: inline-block;
    vertical-align: middle;
}
.second_title{
    font-family: 'Poppins', sans-serif;
    color: #272727;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.005em;
    margin-bottom: 27px;
}
.p2{
    font-family: 'Poppins', sans-serif;
    color: #515151;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.005em;
    margin-bottom: 45px;
}
button{
    border: none;
    background-color: #2A9D8F;
    color: #FFFFFF;
    padding: 11px 16px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}